* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CONDIVISE */

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.row-between {
    justify-content: space-between;
    align-items: center;
}

.a-header {
    color: white;
    text-decoration: none;
}

.white {
    color: white;
}

.red {
    color: red;
}

main {
    position: relative;
}

.container-position {
    position: absolute;
    top: 3.75em;
}

.container {
    width: 27em;
    height: 39em;
}

.relative {
    position: relative;
}

span {
    font-size: small;
}

h3 {
    margin-top: -5px;
    margin-bottom: -5px;
}

h5 {
    display: inline-block;
}

.line-through {
    text-decoration: line-through;
}


/* HEADER */

header {
    /* position: fixed; */
    min-height: 4em;
    background-color: #FF6900;
    box-shadow: 0 8px 9.5px 5px #dddddd;
}

nav {
    position: relative;
    min-height: 4em;
}

.margin-left-icon {
    margin-left: 0.7em;
}

.margin-right-link {
    margin-right: 0.5em;
}

.logo {
    width: 6em;
    margin-right: 60px;
}

/* MAIN */

#item1 {
    background-image: url(../img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.sale {
    position: absolute;
    width: 3.2em;
    padding: 0.1em;
    text-align: center;
    left: 0;
    bottom: 2.5em;
    background-color: red;
}

.eco {
    position: absolute;
    width: 6em;
    padding: 0.1em;
    text-align: center;
    bottom: 2.5em;
    left: 3.5em;
    background-color: green;
}

.heart {
    position: absolute;
    right: 0;
    top: 1em;
    background-color: white;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
}